.block_get {
  margin: 140px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

.block_get h2 {
  text-align: center;
}

.block_get--list {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(3, minmax(282px, 370px));
  gap: 29px;
}
.block_get h3,
.card_info {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  text-overflow: ellipsis;
  text-align: center;
}
.show_btn {
  width: 120px;
}
.card h3 {
  cursor: pointer;
}
.tooltip {
  display: none;
}
.tooltip_show {
  display: block;
  position: absolute;
  background-color: black;
  padding: 5px;
  color: white;
}
s .finished {
  background-color: gray;
  color: white;
}
.finished:hover {
  background-color: gray;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-color: var(--c-white);
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.card figure {
  width: 70px;
  height: 70px;
}
.card figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card > div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.card h3 {
  cursor: pointer;
  position: relative;
}
.tooltip {
  display: none;
}
.tooltip_show {
  display: block;
  position: absolute;
  background-color: black;
  padding: 5px;
  color: white;
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .header_block {
    padding: 0;
    flex-basis: 88.5%;
  }
  .block_get--list {
    grid-template-columns: repeat(3, 282px);
    padding: 0 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header_block {
    padding-top: 1px;
    flex-basis: 92%;
  }
  .header_block figure {
    margin-top: 3px;
  }
  .introduction_block {
    padding: 89px 0 87px;
  }
  .block_get--list {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(2, 344px);
    gap: 16px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .header_block {
    padding-top: 1px;
    flex-basis: 91%;
  }
  .introduction_block {
    padding: 40px 0 70px;
  }
  .introduction_header span {
    display: block;
  }
  .paragraf {
    padding: 0 16px;
  }
  .block_get--list {
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: 328px;
    gap: 20px;
    padding: 0 16px;
  }
  #form {
    width: 328px;
  }
  .block_post--form {
    width: 328px;
  }
  .btn_sub-block {
    width: 328px;
  }
  fieldset {
    width: 328px;
  }
}
